@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@model List<RepoDbExample.Entites.Models.MySql.BookStore.Book>

@*@foreach (var item in Model)
{
    <div class="col-xl-2 col-sm-4 mb-2">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="@item.CoverImage" alt="@item.BookName" style="height:250px;">
            <div class="card-body">
                <h5 class="card-title">@item.BookName</h5>
                <p class="card-text">@item.Author</p>
                <a href="#" class="btn btn-primary">Detay</a>
            </div>
        </div>
    </div>
        }*@

    <div class="card mb-12">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Kitaplarım
        </div>
        <div class="card-body">
            <div class="card-deck">
                @foreach (var item in Model)
                {
                    <div class="card">
                        
                        <div class="card-body">
                            <img class="card-img-top" src="@item.CoverImage" alt="@item.BookName" style="height:250px;">
                            <h5 class="card-title">@item.BookName</h5>
                            <p class="card-text">@item.About.Substring(0,100) ...</p>
                            <p class="card-text"><small class="text-muted">@item.Author</small></p>
                        </div>
                    </div>
                } 
            </div>
        </div>
    </div>

      
    